
.scaling:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in;
}

body {
    font-family: Arial, sans-serif;
    /* background: #f0f0f0; */
    background: url(../img/background.jpg) no-repeat center fixed;
    background-size: cover;
    color: #eee;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: beige;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="url"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background: #e9ffe9;
    border: 1px solid #b2d8b2;
    border-radius: 5px;
    color: #2d7a2d;
    display: none;
}

.result a {
    color: #007bff;
    text-decoration: none;
}
